.Depoiments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}

.DepoimentsTitle {
  font-size: 32px;
  font-weight: 400;
  color: var(--color--secondary);
}

.gallery-depoiments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media screen and ((min-width: 768px) and (max-width: 1024px)) {
  .Depoiments {
    padding: 40px 60px;
  }

  
}

@media screen and ((min-width: 1024px) and (max-width: 1280px)) {
  .Depoiments {
    padding: 40px 120px;
  }
  .gallery-depoiments {
    gap: 80px;
  }
  
}