.Footer {
  background: url('../../assets/footerPage.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.socialMedia {
  display: flex;
  gap: 20px;
}

.socialMedia button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

.LogoKiko {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .Footer {
    margin-top: 30px;
  }
}
